
*{
    padding:0;margin:0;
}
body{
    font-size: 12px;
    overflow: hidden;
}
li{
	list-style-type: none;
}
ul{
    margin: 0px;
    padding:0px;
}
li{
    list-style-type: none;
}
form{
    margin: 0px;
    padding: 0px;
}
a img {
    border:0px none;
}
textarea{
    padding:2px;
}
.clear{clear:both;}
.link{
    cursor:pointer;
}
.pointer{
    cursor:pointer;
}
.left{
    float: left;
}
.center {
    text-align: center;
}
.right{
    float: right;
}
.hidden{display:none;}
.pointer{cursor: pointer;}
.container{
    overflow: hidden;
}
.red{
    color:red;
}
.editor{
    position: relative;
    overflow: hidden;
    width:750px;
    height:190px;
    background-color: #f3f3f3;
}
.row{
    width: 100%;
}
.row0{
    height:30px;
}
.row1{
    height:100px;
}
.row2{
    height:60px;
}
.row3{
    color:#666;
    height:30px;
    width:720px;
    margin-top: 10px;
    padding-left: 15px;
    padding-right:0px;
}
.word_new{
    font-weight: bold;
    font-size: 14px;
    margin-left:10px;
    margin-top:5px;
}
.user_wrap{
    margin-right: 15px;
    line-height: 30px;
}
.un_login .word0{
    color:#888888;
}
.word_new a,.user_wrap a{
    font-size: 12px;
    color:#4372ba;
    font-weight: bold;
    text-decoration: none;
}
.word_new a:hover,.user_wrap a:hover{
    text-decoration: underline;
    color:#ff4400;
}
.login {
    color:#888888;
}
.login .username{
    color:#333333;
    font-weight: bold;
}
.login .btn_quit{
    color:#4372ba;
    font-weight: bold;
    margin-left: 20px;    
}
.textarea{
    width: 710px;
    height: 90px;
    border: 1px solid #d4d4d4;
    padding: 4px;
    margin:0 auto;
    vertical-align: top;
    resize: none;
    background-color: #fff;
    outline: 0;
    overflow: auto;
    word-wrap: break-word;
    display: block;
}
.editorfuns{
    margin-left:15px;
    margin-top:15px;
    float:left;
}
.iconface {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(image/icons.png) no-repeat 0px 0px;
    vertical-align: -6px;
    margin-right: 3px;
}
.iconimage {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(image/icons.png) no-repeat -28px 0px;
    vertical-align: -6px;
    margin-right: 3px;
}
.btn_face{
    width: 60px;
    display: block;
    float: left;
    color:black;
    text-decoration: none;
}
.btn_image{
    color:black;
    text-decoration: none;
}
.gbsformbtns{
    margin-right:15px;
    margin-top:10px;
    float:right;   
}
.gbsformbtns .gbsformi3 {
    width: 110px;
    height: 30px;
    border: 0;
    color: #fff;
    cursor: pointer;
    background-color: #ff4400;
    font-size: 14px;
    font-weight: 700;
    margin-right:4px;
}
.gbsformbtns .gbsformi3:hover {
    background-color: #ff631e;
}
.gbsformbtns .gbsformi4 {
    width: 60px;
    height: 30px;
    border: 0;
    color: #fff;
    cursor: pointer;
    background-color: #b5b5b5;
    font-size: 14px;
    font-weight: 700;
}
.gdsubmitlimitlabel input {
    vertical-align: middle;
}
.gdsubmitlimitlabel {
    color: red;
}
.gbsformbtns .gbsformi4:hover{
    background-color: #cbcbcb;
}
.modal_success{
    position: absolute;
    z-index: 10;
    left:250px;
    top:60px;
}
.icon_success {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(image/icons.png) no-repeat 0px -20px;
    vertical-align: -6px;
    margin-right: 3px;
}
.success{
    font-size: 14px;
    font-weight: bold;
    width:200px;
    text-align: center;
    color:#333;
}
.tips{
    margin-top: 5px;
    color:#666;
    width:220px;
    text-align: center;
}
.shadowbox {
    position: absolute;
    z-index: 1001
}
.shadowboxt {
    border-collapse: collapse
}
.shadowboxt td {
    overflow: hidden;
    font-size: 1px;
    text-overflow: ellipsis
}
.shadowboxt .l1,.shadowboxt .l2,.shadowboxt .l3,.shadowboxt .l4,.shadowboxt .l6,.shadowboxt .l7,.shadowboxt .l8,.shadowboxt .l9 {
    background: url(//gbfek.dfcfw.com/gubav5/css/img/shadowbg.png);
    _background: url(//gbfek.dfcfw.com/gubav5/css/img/shadowbgie6.gif);
    font-size: 1px
}
.shadowboxt .l1,.shadowboxt .l3,.shadowboxt .l7,.shadowboxt .l9 {
    height: 4px;
    width: 4px
}
.shadowboxt .l5 {
    background-color: #fff;
    padding: 1px;
    border: 1px solid #B7B7B7;
    font-size: 12px;
}
.shadowboxt .l7 {
    background-position: 0 0
}
.shadowboxt .l8 {
    background-position: 0 -14px
}
.shadowboxt .l9 {
    background-position: -4px 0
}
.shadowboxt .l4 {
    background-position: 0 -14px;
    background-color: transparent;
    width: 4px
}
.shadowboxt .l6 {
    background-position: 0 -14px;
    width: 4px
}
.shadowboxt .l1 {
    background-position: 0 -4px;
    width: 4px
}
.shadowboxt .l2 {
    background-position: 0 -14px;
    _width:514px;
}
.shadowboxt .l3 {
    background-position: -4px -4px
}
.shadowbox .shadowboxtoparrow {
    position: absolute;
    left: 20px;
    bottom:-7px;
    width: 14px;
    height: 12px;
    background: url(//gbfek.dfcfw.com/gubav5/css/img/shadowbg.png) no-repeat -56px 0;
    _background: url(//gbfek.dfcfw.com/gubav5/css/img/shadowbgie6.gif) no-repeat -56px 0;
    _bottom:-10px;
}
.shadowbox .shadowboxrightarrow {
    position: absolute;
    right: -7px;
    top: 20px;
    width: 12px;
    height: 14px;
    background: url(//gbfek.dfcfw.com/gubav5/css/img/shadowbg.png) no-repeat -102px 0;
    _background: url(//gbfek.dfcfw.com/gubav5/css/img/shadowbgie6.gif) no-repeat -102px 0;
}
.shadowbox .shadowboxbottomarrow {
    position: absolute;
    left: 20px;
    bottom: -9px;
    width: 12px;
    height: 14px;
    background: url(//gbfek.dfcfw.com/gubav5/css/img/shadowbg.png) no-repeat -57px 0;
    _background: url(//gbfek.dfcfw.com/gubav5/css/img/shadowbgie6.gif) no-repeat -57px 0;
    _bottom: -10px
}
.uploadimgtips {
    text-align: center;
    width: 300px;
    padding: 10px 0;
}
.uploadimgtips .wxtip {
    font-size: 12px;
    line-height: 18px;
    margin-top: 5px;
    color: red;
    padding: 0 10px;
}
.uploadimgtips .selectimglink:link {
    font-size: 14px;
    height: 40px;
    width: 140px;
    margin: 0 auto;
    cursor: pointer;
    background-color: #F0F0F0;
    line-height: 40px;
    border: 1px solid #A0A0A0;
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
    color:black;
}
.gbsform .editorfuns a {
    color: #333;
    margin-right: 10px;
    _margin-right: 5px;
}
#facediv{
    padding-bottom:4px;
    padding-left:4px;
    _width:514px;
    _height:115px;
}
#facelist {
    list-style: none;
    margin: 0;
    padding: 0 0 0 0px;
    
    width: 750px;
}
#facelist li {
    float: left;
    width: 28px;
    height: 28px;
    border: 1px solid #DADADA;
    margin-top: 4px;
    margin-right: 4px;
    text-align: center;
    padding-top: 3px;
    cursor: pointer;
}
.editorinsertimgubtn{
    display: none;
}
.uploadpreviewdiv {
    padding: 4px 20px;
    text-align: center;
}
.uploadpreviewdiv a{
    color:#4372ba;
    text-decoration: none;
}
.uploadpreviewdiv a:hover{
    color:#ff4400;
    text-decoration: underline;
}
.uploadpreviewdiv ul li {
    float: left;
    width: 120px;
}
.uploadpreviewdiv img {
    margin-top: 5px;
    max-width: 100px;
    max-height:100px;
}
.uploadpreviewdiv #contupload {
    font-size: 14px;
    height: 40px;
    width: 100px;
    margin: 0 auto;
    cursor: pointer;
    background-color: #F0F0F0;
    line-height: 40px;
    border: 1px solid #A0A0A0;
    margin-top: 35px;
}
.uploadpreviewdiv .uploadmoreing {
    display: none;
    margin-top: 35px;
}
.uploadpreviewdiv .uploadmoreing img {
    vertical-align: -3px;
}
#modal_dialog_shiming {width: 100%;height: 170px;position: absolute;top: 25px;left: 0;opacity: 0;filter:Alpha(opacity=0);}
#shiming .realNamePopup2,#shimingAd .gbpopmodal {top: 0 !important;}
.smgift {color: #4372ba;text-decoration: none;}